
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    background-color: rgb(242, 240, 240);
}

#nav-item1 {
    order: -1;
}

.header-img {
    width: 100%;
}

.header-caption {
    background-color: rgba(242, 240, 240, 0.845);
    padding: 5px 0;
    text-align: center;
    line-height: 1.5;
}

.top-text {
    padding: 0 10px;
}
    
.header-text {
    line-height: 1.5;
    font-size: 1.75rem;
    font-weight: 800;
}

.add-font-spacing {
    letter-spacing: 0.075em;
}

.sign-up-button {
    background: #3498db;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 0;
    a {
    color: white;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 600;
    }
  &:hover {
    cursor: pointer;
  }
}

.terms-conditions {
    font-size: 0.75rem;
    font-style: italic;
}